<!-- User / Nav sidebar -->
<div id="nav-sidebar" class="absolute h-full bg-indigo-darkest select-none scrolling-auto overflow-x-scroll p-4 z-50">
  {{!-- {{#each items as |item|}}
    {{#if (not-eq item.param '')}}
      {{#link-to item.route item.param class="border-b-2 border-transparent hover:border-white py-4 px-6" activeClass="border-white"}}
        <div class="text-white text-2xl font-semibold">
          <i class="{{item.icon}} fill-current"></i>
        </div>
      {{/link-to}}
    {{else}}
      {{#link-to item.route class="border-b-2 border-transparent hover:border-white py-4 px-6" activeClass="border-white"}}
        <div class="text-white text-2xl font-semibold">
          <i class="{{item.icon}} fill-current"></i>
        </div>
      {{/link-to}}
    {{/if}}
  {{/each}} --}}
  {{#link-to 'user' session.user.id class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="flex items-center justify-center h-12 w-12 bg-indigo-lightest rounded-full mb-1 overflow-hidden">
      <img class="bg-grey" src="{{ session.user.profile.avatar }}" alt="">
    </div>
    <div class="text-center text-white text-sm">
      Perfil
    </div>
  {{/link-to}}
  <div {{action "toggleSubsidebar" "monitor"}} class="{{if (eq activeSection "monitor") "opacity-75" "opacity-50"}} cursor-pointer mb-4">
    <div class="flex items-center justify-center h-12 w-12 bg-indigo-lightest text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <span class="fa-layers">
        <i class="far fa-bell"></i>
        <i class="fa fa-circle fa-inverse" data-fa-transform="shrink-5 up-5 right-3.5"></i>
        <i class="fa fa-circle text-red fill-current" data-fa-transform="shrink-8 up-5 right-3.5"></i>
      </span>
    </div>
    <div class="text-center text-white text-sm">
      Monitor
    </div>
  </div>
  {{#link-to 'feed' class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-comments fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Muro
    </div>
  {{/link-to}}
  {{#link-to 'group' class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-users fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Grupos
    </div>
  {{/link-to}}
  {{!-- <div {{action "toggleSubsidebar" "share"}} class="{{if (eq currentRouteName "share") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-upload fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Publicar
    </div>
  </div> --}}
  <div {{action "toggleSubsidebar" "anime"}} class="{{if (or (eq currentRouteName 'anime') (eq activeSection 'anime')) "opacity-75" "opacity-50"}} cursor-pointer mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-film fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Anime
    </div>
  </div>
  <div {{action "toggleSubsidebar" "manga"}} class="{{if (or (eq currentRouteName 'manga') (eq activeSection 'manga')) "opacity-75" "opacity-50"}} cursor-pointer mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-book fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Manga
    </div>
  </div>
  <div {{action "toggleSubsidebar" "music"}} class="{{if (or (eq currentRouteName 'music') (eq activeSection 'music')) "opacity-75" "opacity-50"}} cursor-pointer mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-music fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Música
    </div>
  </div>
  {{#link-to 'list' class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bookmark fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Listas
    </div>
  {{/link-to}}
  {{#link-to 'search' class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-search fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Buscar
    </div>
  {{/link-to}}
  {{#link-to 'concepts' class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-gem fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Next
    </div>
  {{/link-to}}
</div>

<!-- User / subsidebar -->
{{component 'left-sub-sidebar' class=(concat 'absolute h-full sub-sidebar z-40 ' (if isSubsidebarActive 'opened' '')) activeSection=activeSection}}

{{#if isSubsidebarActive}}
  <div {{action "toggleSubsidebar" activeSection}} class="fixed pin bg-black opacity-50 z-30"></div>
{{/if}}

{{!-- {{#if isSharing}}
  {{component 'share-modal'}}
{{/if}} --}}
