<!-- User / Nav sidebar -->
<div class="bg-indigo-darkest flex-none p-4 h-full select-none scrolling-auto overflow-auto z-50 hidden md:block">
  <button {{action "toggleSubsidebar" "monitor"}} class="block opacity-50 mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bell"></i>
    </div>
    <div class="text-center text-white text-sm">
      Monitor
    </div>
  </button>
  {{#link-to 'feed' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-comments"></i>
    </div>
    <div class="text-center text-white text-sm">
      Muro
    </div>
  {{/link-to}}
  {{#link-to 'groups' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-users"></i>
    </div>
    <div class="text-center text-white text-sm">
      Grupos
    </div>
  {{/link-to}}
  <button {{action "toggleSubsidebar" "share"}} class="block {{if (eq currentRouteName "share") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-upload"></i>
    </div>
    <div class="text-center text-white text-sm">
      Publicar
    </div>
  </button>
  <button {{action "toggleSubsidebar" "anime"}} class="block {{if (eq currentRouteName "anime") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-film"></i>
    </div>
    <div class="text-center text-white text-sm">
      Anime
    </div>
  </button>
  <button {{action "toggleSubsidebar" "manga"}} class="block {{if (eq currentRouteName "manga") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-book"></i>
    </div>
    <div class="text-center text-white text-sm">
      Manga
    </div>
  </button>
  <button {{action "toggleSubsidebar" "music"}} class="block {{if (eq currentRouteName "music") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-music"></i>
    </div>
    <div class="text-center text-white text-sm">
      Música
    </div>
  </button>
  {{#link-to 'list' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bookmark"></i>
    </div>
    <div class="text-center text-white text-sm">
      Listas
    </div>
  {{/link-to}}
</div>

<!-- User / subsidebar -->
{{#if isSubsidebarActive}}
  {{component 'user-subsidebar' activeSection=activeSection}}
{{/if}}

<div class="fixed pin-b pin-l bg-indigo-darkest text-white rounded ml-2 mb-2 p-4 z-50 block md:hidden">
  <i class="fas fa-bars"></i>
</div>

{{#if isSharing}}
  {{component 'share-modal'}}
{{/if}}
