<div class="bg-white rounded shadow flex flex-col justify-between leading-normal mb-3">
  <div class="p-4">
    <div class="text-sm text-grey-dark flex items-center">
      <div class="mr-auto">
        <i class="fas fa-comment mr-2"></i>
        Ha creado una <a href="#" class="no-underline font-medium text-grey-dark ml-1">publicación</a>
      </div>
      <a class="text-grey-dark" href="#">
        <i class="fas fa-ellipsis-h fill-current"></i>
        {{#attach-tooltip class="flex flex-col max-w-xs rounded text-sm text-left text-black" showDelay=300 lazyRender=true interactive=true}}
          <div class="rounded-t hover:bg-indigo hover:text-white cursor-pointer p-2">
            <i class="fas fa-edit fa-fw"></i>
            Editar
          </div>
          <div class="hover:bg-indigo hover:text-white cursor-pointer p-2">
            <i class="fas fa-flag fa-fw"></i>
            Reportar
          </div>
          <div class="rounded-b hover:bg-indigo hover:text-white cursor-pointer p-2">
            <i class="far fa-trash-alt fa-fw"></i>
            Eliminar
          </div>
        {{/attach-tooltip}}
      </a>
    </div>
    <p class="text-grey-darkest text-base mt-2">
      {{post.content}}
    </p>
  </div>
  <div class="w-full flex items-center justify-between p-4">
    {{#link-to 'user' post.author.id class="inline-flex items-center"}}
      <img class="w-10 h-10 bg-grey rounded-full mr-3" src="{{post.author.profile.avatar}}">
      <div class="text-sm">
        <p class="leading-none">
          {{post.author.nickname}}
        </p>
        <p class="text-grey-dark">
          {{moment-from-now post.created_at}}
        </p>
      </div>
      {{#attach-tooltip class="w-64 rounded-lg" showDelay=300 lazyRender=true interactive=true}}
        {{component 'user/user-hovercard' user=post.author}}
      {{/attach-tooltip}}
    {{/link-to}}
    <div class="flex items-center text-grey-dark text-xs ml-auto">
      <a {{action "toggleActive"}} href="#" class="text-sm text-right">
        <p class="leading-none">
          {{post.kokoros_count}} kokoros
        </p>
        <p class="text-grey-dark">
          {{post.comments_count}} comentarios
        </p>
      </a>
      {{component 'kokoro-button' post=post isKokored=post.kokored}}
    </div>
  </div>
  {{#if isActive}}
    <div class="flex flex-col bg-grey-lighter rounded-b text-grey-darkest text-sm p-4">
      {{#each post.comments as |comment|}}
        {{component 'user-comment' post=post comment=comment}}
      {{/each}}
      <form {{action "createComment" on="submit"}} class="flex mt-2">
        <div class="w-12 content-center">
          <img class="w-8 h-8 bg-grey rounded-full" src="{{session.user.profile.avatar}}">
        </div>
        {{input type="text" id="content" value=content class="w-full appearance-none border border-grey-dark p-2" placeholder="Escribe un comentario..."}}
      </form>
    </div>
  {{/if}}
</div>