<!-- User / Nav sidebar -->
<div class="bg-indigo-darkest text-purple-lighter flex-none p-4 h-full z-50 hidden md:block">
  <button {{action "toggleSubsidebar" "monitor"}} class="block opacity-50 mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bell"></i>
    </div>
    <div class="text-center text-white text-sm">
      Monitor
    </div>
  </button>
  {{#link-to 'feed' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-comments"></i>
    </div>
    <div class="text-center text-white text-sm">Muro</div>
  {{/link-to}}
  {{#link-to 'groups' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-users"></i>
    </div>
    <div class="text-center text-white text-sm">Grupos</div>
  {{/link-to}}
  <button class="block opacity-50 no-underline mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-share-square"></i>
    </div>
    <div class="text-center text-white text-sm">Publicar</div>
  </button>
  <button {{action "toggleSubsidebar" "anime"}} class="block {{if (eq currentRouteName "anime") "opacity-75" "opacity-50"}} mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-film"></i>
    </div>
    <div class="text-center text-white text-sm">Anime</div>
  </button>
  {{#link-to 'manga' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-book"></i>
    </div>
    <div class="text-center text-white text-sm">Manga</div>
  {{/link-to}}
  {{#link-to 'music' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-music"></i>
    </div>
    <div class="text-center text-white text-sm">Música</div>
  {{/link-to}}
  {{#link-to 'list' class="block opacity-50 no-underline mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bookmark"></i>
    </div>
    <div class="text-center text-white text-sm">Listas</div>
  {{/link-to}}
</div>

<!-- User / subsidebar -->
{{#if isSubsidebarActive}}
  {{component 'user-subsidebar' activeSection=activeSection}}
{{/if}}

{{#if isSharing}}
  {{component 'share-modal'}}
{{/if}}
