<div class="bg-white border border-grey-light rounded shadow flex flex-col justify-between leading-normal p-4 mb-3">
  <div class="mb-8">
    <p class="text-sm text-grey-dark flex items-center">
      <i class="fas fa-comment mr-2"></i>
      Ha creado una <a href="#" class="no-underline font-medium text-grey-dark ml-1">publicación</a>
    </p>
    <p class="text-grey-darkest text-base mt-2">
      {{post.content}}
    </p>
  </div>
  <div class="w-full flex items-center justify-between mt-4">
    {{#link-to 'user' post.author.id class="inline-flex items-center"}}
      <img class="w-10 h-10 bg-grey rounded-full mr-3" src="{{post.author.profile.avatar}}">
      <div class="text-sm">
        <p class="leading-none">
          {{post.author.nickname}}
        </p>
        <p class="text-grey-dark">
          {{moment-from-now post.created_at}}
        </p>
      </div>
      {{#attach-tooltip class="max-w-xs bg-white rounded-lg shadow p-0" showDelay=300 lazyRender=true interactive=true}}
        <img src="{{post.author.profile.bg_image}}" class="w-full rounded-t-lg" />
        <div class="flex justify-center -mt-6">
          <img src="{{post.author.profile.avatar}}" class="w-16 h-16 rounded-full border-solid border-white border-2 -mt-3">
        </div>
        <div class="text-center px-3 pb-6 pt-2">
          <h3 class="text-black font-normal font-sans">
            {{post.author.nickname}}
          </h3>
          <p class="mt-2 font-sans font-light text-sm text-grey-dark">
            {{post.author.profile.bio}}
          </p>
        </div>
      {{/attach-tooltip}}
    {{/link-to}}
    <div class="flex items-center text-grey-dark text-xs ml-auto">
      <a href="#" class="text-sm text-right">
        <p class="leading-none">
          0 kokoros
        </p>
        <p class="text-grey-dark">
          0 comentarios
        </p>
      </a>
      <button class="bg-indigo-dark hover:bg-indigo-darker text-white rounded-full p-3 ml-3">
        <i class="fas fa-heart fa-lg"></i>
      </button>
    </div>
  </div>
</div>