<div {{action 'connect'}} class="w-16 h-16 cursor-pointer bg-indigo rounded-full p-1">
  <img class="rounded-full" src="/img/socialchan.jpg">
  {{#attach-popover class="max-w-xs bg-white border border-indigo-dark rounded-lg shadow p-0" animation="fill" showOn="click" hideOn="click" arrow=false as |attacher|}}
    <div {{action attacher.hide}} class="flex items-center bg-indigo-dark hover:bg-indigo rounded-t-lg text-white text-sm py-2 px-4 cursor-pointer">
      <img class="w-8 h-8 rounded-full mr-3" src="/img/socialchan.jpg">
      <div>
        Social-chan Next
        <span class="block text-xs">
          <i class="fa fa-circle text-green fill-current"></i>
          conectado
        </span>
      </div>
    </div>
    <div class="max-w-xs h-64 flex flex-col bg-white overflow-y-scroll text-sm p-2 bg-cover bg-repeat" style="background-image:url('/img/chats_bg.png')">
      {{!-- <div class="bg-indigo-lightest text-indigo-darkest rounded shadow mb-2 p-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <div class="bg-white rounded shadow p-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </div> --}}
      {{#if isRoomsActive}}
        {{#each rooms as |room|}}
          <div class="bg-indigo-lightest text-indigo-darkest rounded shadow mb-2 p-2">
            roomId: {{room.id}}<br>
            roomName: {{room.name}}<br>
          </div>
        {{/each}}
      {{/if}}
      {{yield}}
    </div>
    <form {{action "sendMessage" on="submit"}} class="bg-grey-light rounded-b">
      {{input type="text" id="message" value=message class="w-full appearance-none bg-transparent rounded-b p-2" placeholder="Escribe un mensaje..."}}
    </form>
  {{/attach-popover}}
</div>