<div id="nav-sidebar" class="absolute h-full bg-indigo-darkest select-none scrolling-auto overflow-x-scroll p-4 z-50">
  {{#link-to "user" auth.user.id class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="flex items-center justify-center h-12 w-12 bg-indigo-lightest rounded-full mb-1 overflow-hidden">
      <img class="bg-grey" src={{auth.user.profile.avatar}} alt={{auth.user.nickname}}>
    </div>
    <div class="text-center text-white text-sm">
      Perfil
    </div>
  {{/link-to}}
  {{#if (is-feature "monitor")}}
    <div {{action "toggleSubsidebar" "monitor"}} class="{{if (eq activeSection "monitor") "opacity-75" "opacity-50"}} cursor-pointer mb-4">
      <div class="flex items-center justify-center h-12 w-12 bg-indigo-lightest text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <span class="fa-layers">
          <i class="far fa-bell"></i>
          <i class="fa fa-circle fa-inverse" data-fa-transform="shrink-5 up-5 right-3.5"></i>
          <i class="fa fa-circle text-red fill-current" data-fa-transform="shrink-8 up-5 right-3.5"></i>
        </span>
      </div>
      <div class="text-center text-white text-sm">
        Monitor
      </div>
    </div>
  {{/if}}
  {{#link-to "feed" class="block opacity-50 mb-4" activeClass="opacity-75"}}
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-comments fill-current"></i>
    </div>
    <div class="text-center text-white text-sm">
      Muro
    </div>
  {{/link-to}}
  {{#if (is-feature "groups")}}
    {{#link-to "group" class="block opacity-50 mb-4" activeClass="opacity-75"}}
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="fas fa-users fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Clubs
      </div>
    {{/link-to}}
  {{/if}}
  {{#if (is-feature "anime")}}
    {{#link-to "anime" class="block opacity-50 mb-4" activeClass="opacity-75"}}
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="fas fa-film fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Anime
      </div>
    {{/link-to}}
  {{/if}}
  {{#if (is-feature "manga")}}
    {{#link-to "manga" class="block opacity-50 mb-4" activeClass="opacity-75"}}
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="fas fa-book fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Manga
      </div>
    {{/link-to}}
  {{/if}}
  {{#if (is-feature "albums")}}
    {{#link-to "music" class="block opacity-50 mb-4" activeClass="opacity-75"}}
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="fas fa-music fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Música
      </div>
    {{/link-to}}
  {{/if}}
  {{#if (is-feature "lists")}}
    {{#link-to "list" class="block opacity-50 mb-4" activeClass="opacity-75"}}
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="far fa-bookmark fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Listas
      </div>
    {{/link-to}}
  {{/if}}
  {{#if (is-feature "search")}}
    <div {{action "toggleSubsidebar" "search"}} class="{{if (or (eq currentRouteName "search") (eq activeSection "search")) "opacity-75" "opacity-50"}} cursor-pointer">
      <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
        <i class="fas fa-search fill-current"></i>
      </div>
      <div class="text-center text-white text-sm">
        Buscar
      </div>
    </div>
  {{/if}}
</div>

{{layout/left-sub-sidebar class=(concat "absolute h-full sub-sidebar z-40 " (if isSubsidebarActive "opened" "")) activeSection=activeSection}}

{{#if isSubsidebarActive}}
  <div {{action "toggleSubsidebar" activeSection}} class="fixed pin bg-black opacity-50 z-30"></div>
{{/if}}
