<div class="bg-white rounded shadow mb-4">
  <div class="flex flex-no-wrap justify-end bg-white rounded-t h-3 pr-4">
    {{#if (not data.isLoggedIn)}}
      {{#if data.following}}
        <button class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2">
          <i class="fas fa-comment-alt"></i>
        </button>
      {{/if}}
      <button class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2 ml-2">
        <i class="fas fa-ban"></i>
      </button>
    {{else}}
      {{#link-to "settings" class="no-underline self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2 ml-2"}}
        <i class="fas fa-cog"></i>
      {{/link-to}}
      <button {{action "logout"}} class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2 ml-2">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    {{/if}}
  </div>
  <div class="flex py-8 bg-grey-light bg-cover bg-no-repeat" style={{bg-image data.profile.bg_image}}>
    <div class="w-full lg:w-1/4 text-center">
      <img class="w-32 h-32 bg-grey border-2 border-white rounded-full shadow" src={{data.profile.avatar}} alt={{data.nickname}}>
    </div>
  </div>
  <div class="flex items-center bg-white rounded-b">
    <div class="w-1/4 text-indigo-darker text-lg hidden lg:flex items-center justify-center">
      @{{data.nickname}}
    </div>
    <ul class="w-full lg:w-3/4 flex select-none scrolling-touch overflow-auto list-reset px-2">
      {{#link-to "user.posts" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Muro
      {{/link-to}}
      {{#link-to "user.groups" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Grupos
      {{/link-to}}
      {{#link-to "user.followers" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Seguidores
      {{/link-to}}
      {{#link-to "user.follows" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Siguiendo
      {{/link-to}}
      {{#link-to "user.anime" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Anime
      {{/link-to}}
      {{#link-to "user.manga" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Manga
      {{/link-to}}
      {{#link-to "user.music" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Música
      {{/link-to}}
      {{yield}}
    </ul>
  </div>
</div>
