<div class="container mx-auto py-6">
  <div class="flex">
    <div class="w-1/4 px-3">
      <div class="bg-white shadow rounded p-4 mb-6">
        <h3 class="text-indigo-darkest mb-3">
          Filtrar por
        </h3>

        <h4 class="py-2">Género</h4>
        <div class="flex flex-wrap items-center mb-2">
          <span class="bg-transparent border border-red rounded text-sm font-semibold text-red px-2 py-1 m-1">
            Acción
          </span>
          <span class="bg-transparent border border-red-light rounded text-sm font-semibold text-red-light px-2 py-1 m-1">
            Romance
          </span>
          <span class="bg-transparent border border-grey-dark rounded text-sm font-semibold text-grey-dark px-2 py-1 m-1">
            Ciencia ficción
          </span>
          <span class="bg-transparent border border-orange rounded text-sm font-semibold text-orange px-2 py-1 m-1">
            Comedia
          </span>
          <span class="bg-transparent border border-purple-dark rounded text-sm font-semibold text-purple-dark px-2 py-1 m-1">
            Terror
          </span>
          <span class="bg-transparent border border-teal-dark rounded text-sm font-semibold text-teal-dark px-2 py-1 m-1">
            Deporte
          </span>
          <span class="bg-transparent border border-indigo rounded text-sm font-semibold text-indigo px-2 py-1 m-1">
            Harem
          </span>
          <span class="bg-transparent border border-pink rounded text-sm font-semibold text-pink px-2 py-1 m-1">
            Musical
          </span>
          <span class="bg-transparent border border-yellow-darker rounded text-sm font-semibold text-yellow-darker px-2 py-1 m-1">
            Aventura
          </span>
          <span class="bg-transparent border border-indigo-light rounded text-sm font-semibold text-indigo-light px-2 py-1 m-1">
            Escolar
          </span>
        </div>

        <h4 class="py-2">Temporada</h4>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Primavera
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Verano
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Otoño
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Invierno
        </a>
      </div>
    </div>
    <div class="w-3/4 bg-white shadow rounded p-4">
      <i class="fas fa-th"></i>
      <i class="fas fa-th-list"></i>
      <div class="flex flex-wrap mt-3">
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
      </div>
    </div>
  </div>
</div>