<div class="container mx-auto py-6">
  <div class="flex">
    <div class="w-1/4 px-3">
      <div class="bg-white shadow rounded p-4 mb-6">
        <h3 class="text-indigo-darkest mb-3">
          Filtrar por
        </h3>

        <h4 class="py-2">Género</h4>
        <div class="flex flex-wrap items-center text-sm mb-2">
          <a href="#" class="no-underline text-indigo-darker m-1">
            Acción
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Romance
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Ciencia ficción
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Comedia
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Terror
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Deporte
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Harem
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Musical
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Aventura
          </a>
          <a href="#" class="no-underline text-indigo-darker m-1">
            Escolar
          </a>
        </div>

        <h4 class="py-2">Temporada</h4>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Primavera
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Verano
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Otoño
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          Invierno
        </a>

        <h4 class="py-2">Estado</h4>
        <a href="#" class="block no-underline bg-transparent hover:bg-blue border border-blue text-blue hover:text-white py-1 px-2 mb-1">
          Planificado
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-green border border-green text-green hover:text-white py-1 px-2 mb-1">
          En emisión
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-red border border-red text-red hover:text-white py-1 px-2 mb-1">
          Finalizado
        </a>
      </div>
    </div>
    <div class="w-3/4 bg-white shadow rounded p-4">
      <i class="fas fa-th"></i>
      <i class="fas fa-th-list"></i>
      <div class="flex flex-wrap mt-3">
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
        <div class="w-1/6 px-1">
          {{component 'item-card'}}
        </div>
      </div>
    </div>
  </div>
</div>