{{#if (array-contains pagesInArray currentRouteName)}}
  {{#if (not-eq currentRouteName "login")}}
    {{component 'header-navbar' user=user}}
    {{outlet}}
    {{component 'page-footer' class="pt-8"}}
  {{else}}
    {{outlet}}
  {{/if}}
{{else}}
  <div class="font-sans antialiased h-screen flex overflow-hidden">
    {{component 'left-sidebar' class="flex h-full" currentRouteName=currentRouteName}}

    <div class="flex-1 flex flex-col bg-blue-lightest overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat" style="background-image:url('/img/landing/img02.jpg')">
      {{outlet}}
    </div>

    {{component 'user-chat' class="fixed pin-b pin-r mr-9 z-50 hidden md:block"}}
    {{component 'right-sidebar' class="h-full"}}
  </div>
{{/if}}