{{#if inApp}}
  <div class="font-sans antialiased h-screen flex overflow-hidden">
    {{component 'user-sidebar' class="flex h-full"}}

    <div class="flex-1 flex flex-col bg-blue-lightest overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat" style="background-image:url('img/landing/img02.jpg')">
      {{outlet}}
    </div>

    {{component 'side-bar' class="h-full"}}
  </div>
{{else}}
  {{#if isHeaderpage}}
    {{component 'header-navbar' user=user}}
  {{/if}}

  {{outlet}}

  {{component 'page-footer'}}
{{/if}}