{{#if (array-contains pagesInArray currentRouteName)}}
  {{#if (not-eq currentRouteName "login")}}
    {{component 'header-navbar' user=user}}
    {{outlet}}
    {{component 'page-footer'}}
  {{else}}
    {{outlet}}
  {{/if}}
{{else}}
  <div class="font-sans antialiased h-screen flex overflow-hidden">
    {{component 'user-sidebar' class="flex h-full" currentRouteName=currentRouteName}}

    <div class="flex-1 flex flex-col bg-blue-lightest overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat" style="background-image:url('img/landing/img02.jpg')">
      {{outlet}}
    </div>

    {{component 'side-bar' class="h-full"}}
  </div>
{{/if}}