<div class="container mx-auto px-4 mt-3">
  <div class="flex">
    <div class="w-1/4 pr-4">
      <a class="no-underline block cursor-pointer bg-white hover:bg-indigo text-indigo hover:text-white shadow rounded p-4 mb-3">
        <p class="text-lg font-bold mb-2">Invita a tus amigos</p>
        Invita a todos tus amigos y empieza a compartir anime y manga con ellos.
      </a>
      <div class="bg-white shadow rounded p-4 mb-3">
        <p class="text-lg text-indigo-darkest font-bold mb-2">¿Ves esto muy vacío?</p>
        <p class="mb-2">Sigue a estos usuarios populares</p>
        <ul class="list-reset">
          <li class="inline-flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-black font-bold">John Doe</a>
              <span class="text-grey-dark text-sm">@jdoe</span>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Seguir
              </button>
            </span>
          </li>
          <li class="inline-flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-black font-bold">Rubén Robles</a>
              <span class="text-grey-dark text-sm">@d8vjork</span>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Seguir
              </button>
            </span>
          </li>
          <li class="inline-flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-black font-bold">Gabriel Chan</a>
              <span class="text-grey-dark text-sm">@gabrielpb1</span>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Seguir
              </button>
            </span>
          </li>
          <li class="inline-flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-black font-bold">Rhady Sama</a>
              <span class="text-grey-dark text-sm">@Dante0611</span>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Seguir
              </button>
            </span>
          </li>
        </ul>
      </div>
      {{component 'ads-square'}}
      <div class="bg-white shadow rounded p-4 mb-3">
        <p class="text-lg text-indigo-darkest font-bold mb-2">
          <i class="fas fa-fire"></i> Lo más hablado
        </p>
        <ul class="list-reset">
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Sword Art Online
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Love Live! School Idol Project
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Steins;gate 0
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Citrus
            </a>
            <p class="text-sm text-grey-dark">
              Manga
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-3/4 px-3">
      {{component 'user-post'}}
      {{component 'user-post'}}
      {{component 'user-post'}}
      {{component 'user-post'}}
      {{component 'user-post'}}
    </div>
  </div>
</div>