<div class="container mx-auto px-4 mt-4">
  <div class="flex">
    <div class="w-full lg:w-3/4 px-3">
      {{component "post/create" placeholder="Publicar algo en mi muro..."}}
      {{#each model.posts as |post|}}
        {{component "post/single" post=post}}
      {{/each}}
    </div>
    <div class="w-1/4 pr-4 hidden lg:block">
      {{component "feed/invite-friends"}}
      {{#if (gt model.populars.length 0)}}
        <div class="bg-white shadow rounded p-4 mb-3">
          <p class="text-lg text-indigo-darkest font-bold mb-2">
            ¿Ves esto muy vacío?
          </p>
          <p class="mb-2">
            Sigue a estos usuarios populares
          </p>
          <ul class="list-reset">
            {{#each model.populars as |user|}}
              {{component "feed/user-single" user=user}}
            {{/each}}
          </ul>
        </div>
      {{/if}}
      {{component "layout/ads-square"}}
      <div class="bg-white shadow rounded p-4 mb-3">
        <p class="text-lg text-indigo-darkest font-bold mb-2">
          <i class="fas fa-fire"></i> Lo más hablado
        </p>
        <ul class="list-reset">
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Sword Art Online
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Love Live! School Idol Project
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Steins;gate 0
            </a>
            <p class="text-sm text-grey-dark">
              Anime
            </p>
          </li>
          <li class="my-3">
            <a href="#" class="no-underline text-indigo-dark">
              Citrus
            </a>
            <p class="text-sm text-grey-dark">
              Manga
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
