<div class="bg-grey-light py-6">
  <div class="container mx-auto">
    <h2 class="text-indigo-darker mb-3">
      Organizar listas
    </h2>
    <input class="placeholder-grey-dark rounded bg-white border border-grey p-3 block w-full appearance-none" type="text" placeholder="Buscar anime/manga/álbum">
    <div class="flex items-center mt-6">
      <span class="bg-transparent border border-red rounded text-sm font-semibold text-red px-2 py-1 mx-1">
        Acción
      </span>
      <span class="bg-transparent border border-red-light rounded text-sm font-semibold text-red-light px-2 py-1 mx-1">
        Romance
      </span>
      <span class="bg-transparent border border-grey-dark rounded text-sm font-semibold text-grey-dark px-2 py-1 mx-1">
        Ciencia ficción
      </span>
      <span class="bg-transparent border border-orange rounded text-sm font-semibold text-orange px-2 py-1 mx-1">
        Comedia
      </span>
      <span class="bg-transparent border border-purple-dark rounded text-sm font-semibold text-purple-dark px-2 py-1 mx-1">
        Terror
      </span>
      <span class="bg-transparent border border-teal-dark rounded text-sm font-semibold text-teal-dark px-2 py-1 mx-1">
        Deporte
      </span>
      <span class="bg-transparent border border-indigo rounded text-sm font-semibold text-indigo px-2 py-1 mx-1">
        Harem
      </span>
      <span class="bg-transparent border border-pink rounded text-sm font-semibold text-pink px-2 py-1 mx-1">
        Musical
      </span>
      <span class="bg-transparent border border-yellow-darker rounded text-sm font-semibold text-yellow-darker px-2 py-1 mx-1">
        Aventura
      </span>
      <span class="bg-transparent border border-indigo-light rounded text-sm font-semibold text-indigo-light px-2 py-1 mx-1">
        Escolar
      </span>
    </div>
    <div class="flex items-center mt-6">
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
      <div class="w-1/6 px-3">
        {{component 'item-card'}}
      </div>
    </div>
  </div>
</div>